:root {
  --main: #ffffff;
  --hero: #06071b;
  --text-color: #000000;
  --btn: #ffff00;
}
body {
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.2) -1.97%,
    rgba(181, 68, 254, 0.2) 89.43%
  );
  font-family: "Inter" sans-serif;
  font-style: normal;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1278px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ======================header====================== */
.header-overlay {
  width: 100%;
  position: absolute;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  backdrop-filter: blur(17.5px);
  margin-top: 26px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: var(--main);
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-title:not(:last-child) {
  margin-right: 40px;
}
.navigation-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--main);
}
.navigation-item:hover,
.navigation-item:focus {
  color: var(--hero);
}

/* ============hero================== */
.hero {
  padding-top: 145px;
  padding-bottom: 146px;
  background-color: var(--hero);
}
.hero-box {
  height: 100%;
}

.hero-item {
  width: 442px;
  margin-bottom: 12px;
  font-size: 40px;
  line-height: 1.2;
  color: var(--main);
}
.hero-subtitel {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main);
}
.hero-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main);
}
.hero-text-box {
  margin-bottom: 60px;
  position: relative;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main);
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  padding: 12px 60px;
}
.btn:hover,
.btn:focus {
  background: var(--btn);
  color: var(--hero);
}
.pic-phone {
  width: 472px;
  height: 553px;
  position: absolute;
  top: 105px;
  right: 135px;
  z-index: 10;
}
.pic-icon {
  width: 540px;
  height: 418px;
  position: absolute;
  top: 120px;
  left: 425px;
}
.big-spraying {
  width: 472px;
  height: 553px;
  position: absolute;
  top: 105px;
  right: 135px;
}
.small-spraying {
  position: absolute;
  width: 290px;
  height: 58px;
  top: 170px;
  left: 150px;
}

/* =================key features================== */
.about {
  padding: 100px 152px;
}
.title {
  font-size: 24px;
  line-height: 1.2;
  color: var(--text-color);
}
.key {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.about-subtitel {
  display: flex;
  justify-content: center;
  width: 886px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}
.about-box {
  display: flex;
  justify-content: space-between;
  width: 970px;
}
.about-pic {
  max-width: 396px;
  max-height: 601px;
}
.text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}
.text-desc {
  width: 220px;
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color);
}

/*=================video==============  */
.video {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--hero);
}
.video-container {
  display: flex;
  align-items: center;
}
.vid {
  margin-bottom: 20px;
  color: #ffffff;
}

.video-descr {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main);
  width: 478px;
}
.vector-box {
  display: flex;
}
.vector-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}
.vector-list:first-child {
  margin-right: 20px;
}

/* ==============our team============ */
.team {
  padding-top: 80px;
}
.our-team {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.team-descr {
  display: flex;
  justify-content: center;

  margin-bottom: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}
.team-box {
  display: flex;
}
.card {
  background: linear-gradient(
      312.87deg,
      rgba(0, 197, 235, 0.5) -0.2%,
      rgba(181, 68, 254, 0.5) 112.66%
    ),
    #06071b;
  backdrop-filter: blur(17.5px);
  border-radius: 15px;
  width: calc((100% - 96px) / 4);
}
.card:not(:last-child) {
  margin-right: 32px;
}
.name {
  display: flex;
  justify-content: center;

  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main);
}
.name-item {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--main);
}
.pic {
  max-width: 264px;
  margin: 14px 12px 20px 12px;
  border-radius: 10px;
}
/* ==================overlay================== */
.overlay {
  background-color: rgb(79, 162, 214, 0.6);
  font-size: 14px;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
  width: 100%;
  height: 100%;
}
.card:hover .overlay {
  border-radius: 15px;
  transform: translate(0, 0);
}
.overlay-wrapper {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* ================our costumers================== */
.slider {
  padding-top: 80px;
  padding-bottom: 100px;
}
.costumer {
  display: flex;
  justify-content: center;
}
.cost {
  margin-bottom: 40px;
}
.costumer-pic {
  margin-right: auto;
  margin-left: auto;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.slider-title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color);
}
.slider-title-from {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--text-color);
}
.slider-title-about {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}
/* ==================footer============= */
footer {
  padding-top: 80px;
  background: var(--hero);
}
.footer-title {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.2;
  color: var(--main);
}
.footer-box {
  display: flex;
}
.footer-title-item {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--main);
}
.footer-about {
  width: 500px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main);
}
.soc-box {
  display: flex;
  margin-bottom: 20px;
}
.soc-box-title:not(:last-child) {
  margin-right: 14px;
}

.soc-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}

.tel {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
  color: var(--main);
}
.tel:hover,
.tel:focus {
  background: var(--btn);
  color: var(--hero);
}
.mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main);
}
.mail:hover,
.mail:focus {
  background: var(--btn);
  color: var(--hero);
}
.footer-right-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 20px 32px;
  margin-bottom: 20px;
}

.form-content {
  background: #ffffff;
  border-radius: 5px;
  width: 288px;
  height: 40px;
}
.form-content-text {
  background: #ffffff;
  border-radius: 5px;
  width: 608px;
  height: 162px;
  padding-bottom: 133px;
  padding-left: 8px;
}
.form-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #939eac;
}

.footer-btn {
  display: block;
  margin-left: auto;

  margin-bottom: 80px;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main);
  padding: 12px 60px;
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--btn);
  color: var(--hero);
}
.footer-text {
  padding: 20px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main);

  border-top: 1px solid #ffffff;
}
